<header>
  <div class="inner">
    <img src="/images/dseklogo.svg">
    <h1>Datateknik LTH</h1>
    <a href="https://github.com/datateknik-lth/datateknik-lth" class="button">
      <img src="/images/github.png">
      <small>Visa på</small>GitHub
    </a>

    <h2><%= breadcrumbs %></h2>
  </div>
</header>
