<h1>Kurser</h1>

<ul class="list-unstyled">
  <% course_tree.children.sort_by {|c| c.name }.each do |course| %>
    <li><%= link_to course.name, "#{course.path}/index.html", relative: true %></li>
  <% end %>
</ul>

<%= partial "/courses/README.md" %>
